.Burguer {
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  height: 250px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burguer {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 500px) and (min-height: 401px) {
  .Burguer {
    width: 400px;
    height: 350px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burguer {
    width: 500px;
    height: 400px;
  }
}
